/* General page styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 25px;
    background-color: white;
}

/* Header styling */
h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 45px;
}

/* Header 2 styling */
h2 {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
}

/* Table styling */
table {
    font-family: Arial, sans-serif;
    margin: auto;
    border-collapse: collapse;
    width: auto;
    color: black;
    background: white;
}

th {
    font-weight: bold;
}

th, td {
    border: 2px solid black;
    font-size: 50px;
    text-align: center;
}

/* Form styling */
.form-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
.dropdown, .button-submit, label {
    font-size: 30px;
    font-family: Arial;
    color: black;
    height: 50px;
    padding: 0 20px;
}

.dropdown, .button-submit {
    cursor: pointer;
}

.button-submit, label {
   font-weight: bold;
}

.dropdown, label {
    background-color: white;
}

.dropdown {
    border: 1px solid black;
}

.button-submit {
    background-color: #b4b4b4;
    border: 2px solid black;
}

label {
    font-weight: bold;
    color: black;
    font-family: Arial;
    display: flex;
    align-items: center;
    height: 50px;
}