/* General page styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 25px;
    background-color: white;
}

/* Header styling */
h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 45px;
}

/* Header 2 styling */
h2 {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 45px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    background-color: white;
    margin: 0;
    z-index: 10;
}

/* Table styling */
table {
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin: auto;
    border-collapse: collapse;
    width: auto;
    color: black;
    background: white;
}

th, td {
    border: 2px solid black;
    padding: 10px;
}

td {
    height: 10px;
    width: auto;
}

th {
    background-color: #40ff47;
    color: black;
    position: sticky;
    top: 55px;
    padding: 10px;
    z-index: 10;
}

/* 1. Spalte (Rank) in allen Tabellen formatieren */
table td:nth-child(1), table th:nth-child(1) {
    text-align: center;
    color: black;
    background-color: #40ff47;
    font-weight: bold;
}

/* 2. Spalte (Titel) in allen Tabellen formatieren */
table td:nth-child(2), table th:nth-child(2) {
    text-align: left;
}

/* 3. Spalte (Streams) und 4. Spalte (Daily) in allen Tabellen formatieren */
table td:nth-child(3), table th:nth-child(3),
table td:nth-child(4), table th:nth-child(4) {
    text-align: left;
}

/* Form styling */
.form-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.dropdown, .button-submit, label {
    color: black;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    background-color: white;
    font-family: Arial;
    display: flex;
    align-items: center;
}

.dropdown, .button-submit {
    border: 2px solid black;
    font-weight: bold;
    font-size: 30px;
}