/* Allgemeine Seite */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 25px;
    background-color: white;
}

/* Header */
h1 {
    font-size: 45px;
}
h2 {
    font-size: 45px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    background-color: white;
    margin: 0;
    z-index: 10;
}

/* Tabelle */
table {
    font-size: 30px;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 2px solid black;
    padding: 10px;
}
th {
    background-color: #40ff47;
    position: sticky;
    top: 55px;
    z-index: 10;
}

/* Form Styling */
.form-container {
    display: flex;
    justify-content: center;   /* zentriert die Gruppe */
    align-items: center;       /* vertikale Ausrichtung */
    gap: 10px;                 /* Abstand zwischen Label, Dropdown und Button */
    margin-bottom: 30px;
}

/* Label */
label {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Dropdown */
select.dropdown {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align-last: center; /* Text zentriert im Dropdown */
    border: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;

    /* Browser Reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: white;  /* Hintergrund explizit */
}

/* Button */
button.button-submit {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    border: 2px solid black;
    background-color: #b4b4b4;
    padding: 5px 15px;
    cursor: pointer;

    /* Browser Reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Tabelle positive / negative Differenzen */
.positiv { color: green; }
.negativ { color: red; }
